@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

a {
  border: 10px solid;
  border-radius: 64px;
  color: #ffffff;
  background-color: #5a4dd6;
  border-color: #5a4dd6;
  font-size: 18px;
  font-weight: 700;
  border-left-width: 20px;
  border-right-width: 20px;
  text-decoration: none;
}

.pf-c-button.pf-m-primary {
  background-color: #5a4dd6;
  border-radius: 64px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
}

.login-pf body {
  font-family: Roboto, "sans-serif";
}

.card-pf {
  border-color: #5a4dd6;
}

#kc-header-wrapper {
  text-transform: none;
}

h1 {
  color: #0e0e23;
  font-size: 37px;
  font-weight: 900;
}

.instruction {
  margin-bottom: 30px;
}

#kc-page-title {
  display: none;
}

.login-pf-header {
  display: none !important;
}

.pf-c-alert {
  display: none !important;
}
